https://soporte-pnte.com/tuempresa/prueba-entrada/eccbc87e4b5ce2fe28308fd9f2a7baf3
nivel_digitalizacion


const props = defineProps(['open'])
const emit = defineEmits(['closeModal'])
const handleCloseModal = () => {
  console.log("auuauauaua");
  emit('closeModal', true)
}

ok-text="Cambiar contraseña" 

  this.$router.push({ name: '', query: { paramName: 'someValue' } });



import axios from 'axios';
const descargar = async() => {
  // try {
  //   const data = await makeRequest({ url: `export-excel`, method: 'GET' });
    
  //   console.log("gagag", data);

  // } catch (error) {
  //   console.error('Error de red:', error);
  // }

 
      axios.get('http://127.0.0.1:8000/api/v1/export-excel', { responseType: 'blob' })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', 'example.xlsx');
          document.body.appendChild(link);
          link.click();
        })
        .catch(error => {
          console.error('Error downloading Excel file', error);
        });
    
}






PINIA 
import { useMyStore } from '../stores/index';
const myStore = useMyStore();


// const someValue = ref(null);
const { getSomeValue } = useMyStore();      //PINTA

funcion 
myStore.addFile();


// onMounted(() => {
//   // Obtener el valor del getter al montar el componente
//   someValue.value = myStore.getSomeValue;
// });




// watch
const props = defineProps({
  toggleMenu: Boolean
});
const toggleMenuRef = toRef(props, 'toggleMenu');
watch(toggleMenuRef, (newValue, oldValue) => {
  collapsed.value = !collapsed.value;
  // console.log(`Toggle menu changed from ${oldValue} to ${newValue}`);
});


//
const { data } = await makeRequest({ url: '/actives-cdes-digitals', method: 'GET' });
const newItem = {
  value: 0,
  label: 'Ver Todos'
};

cedes.value = [...cedes.value, data, newItem];
