https://soporte-pnte.com/tuempresa/prueba-entrada/eccbc87e4b5ce2fe28308fd9f2a7baf3
nivel_digitalizacion


CREATE TABLE questionnaires (
    id INT AUTO_INCREMENT PRIMARY KEY,
    tipo CHAR(50) UNIQUE NOT NULL,
    titulo VARCHAR(255) NOT NULL,
    slug VARCHAR(100) UNIQUE NOT NULL,
    preguntas JSON NOT NULL,
    ratings JSON NULL,
    comentarios TINYINT(0),
    redes TINYINT(0)
);