:root {
  --font-size-base: 14px;
  --screen-xl: 1200px;
  --screen-lg: 992px;
  --screen-md: 768px;
  --screen-sm: 576px;
  --screen-xs: 480px;
  --component-background: #ffffff;
  --background-color-light: #ffffff;
  --popover-bg: #ffffff;
  
  --primary: #cf1322;
  --primary-hover: #f5222d;
  --color-3: #ffa39e;

  --text-color: rgba(0, 0, 0, 0.88);
  --text-color-secondary: rgba(0, 0, 0, 0.65);
  --text-color-inverse: #fff;
  --heading-color: rgba(0, 0, 0, 0.88);
  --disabled-color: rgba(0, 0, 0, 0.25);
  --layout-sider-background: #001529;
  --btn-primary-color: #fff;
  --heading-3-size: 24px;
  --red-6: #f5222d;
  --tag-default-bg: hsv(0, 0, 98%);
  --green-6: #52c41a;
  --background-color-base: #fff;
  --font-size-lg: 16px;
  --highlight-color: #ff4d4f;
  --avatar-size-base: 32px;
  --avatar-size-lg: 40px;
  --avatar-size-sm: 24px;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --border-color-base: #d9d9d9;
  --border-color-split: rgba(5, 5, 5, 0.06);
  --border-width-base: 1;
  --border-style-base: solid;
  --border-radius-base: 6;
  --menu-dark-bg: #001529;
  --menu-dark-bg-85: #001529d9;
  --menu-dark-bg-65: #001529a6;
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
}

h1 {
  margin: 0;
}
.text-center {
  text-align: center;
}
.ant-form-item-explain-error {
  font-size: 12px;
}
.flex-baseline {
  display: flex;
  align-items: baseline;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-center {
  display: flex;  
  align-items: center;
  justify-content: center;
}

.mb-1 {
  margin-bottom: 1rem;
}
.w-100 {
  width: 100% !important;
}
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.wrapper-search {
  display: grid;
  grid-template-columns: 170px 1fr 270px;
  margin: 1rem 0 1.5rem;
}

.ant-menu-item-selected {
  background-color: var(--primary) !important;
  &:active {
    background-color: var(--primary-hover) !important;
  }
}
.ant-table-cell {
  line-height: 1.2;
}

:where(.css-dev-only-do-not-override-185kyl0)
.ant-menu-dark:not(.ant-menu-horizontal) 
.ant-menu-item:not(.ant-menu-item-selected):active,
:where(.css-dev-only-do-not-override-185kyl0)
.ant-menu-dark:not(.ant-menu-horizontal) 
.ant-menu-submenu-title:active {
  background-color: var(--primary-hover) !important;
}

// :where(.css-dev-only-do-not-override-185kyl0).ant-input-search .ant-input:hover, :where(.css-dev-only-do-not-override-185kyl0).ant-input-search .ant-input:focus {
//   border-color: var(--color-3)!important;
// }

.c-primary {
  color: #d9363e;
}
.details-modal {
  display: grid;
  grid-template-columns: .6fr 1fr;
  grid-gap: .2rem .5rem;
  b {
    font-weight: 500;
    font-size: 13px;
  }
}