:root {
  --primary: #00a6db;
  --secondary: #dc1c19;
  --error: #ff4d4f;
}

h1 {
  margin: 0;
}
.text-center {
  text-align: center;
}
.ant-form-item-explain-error {
  font-size: 12px;
}
.flex-baseline {
  display: flex;
  align-items: baseline;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-center {
  display: flex;  
  align-items: center;
  justify-content: center;
}

.mb-1 {
  margin-bottom: 1rem;
}
.w-100 {
  width: 100% !important;
}
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.wrapper-search {
  display: grid;
  grid-template-columns: 170px 1fr 270px;
  margin: 1rem 0 1.5rem;
}
.ant-table-thead .ant-table-cell {
  background-color: #e9e9e9 !important;
}
.ant-table-tbody >tr.ant-table-row:hover>td {
  background-color: #f8f8f8 !important;
}


// DISABLES---------
.ant-input-disabled {
  color: #4e4e4ee0 !important;
}
.ant-select-disabled .ant-select-selection-item {
  color: #4e4e4ee0 !important;
}

// .ant-menu-item-selected {
//   background-color: var(--primary) !important;
//   &:active {
//     background-color: var(--primary-hover) !important;
//   }
// }
// :where(.css-185kyl0).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
//   background-color: var(--primary-hover) !important;
// }
.ant-table-cell {
  line-height: 1.2;
}

// :where(.css-dev-only-do-not-override-185kyl0)
// .ant-menu-dark:not(.ant-menu-horizontal) 
// .ant-menu-item:not(.ant-menu-item-selected):active,
// :where(.css-dev-only-do-not-override-185kyl0)
// .ant-menu-dark:not(.ant-menu-horizontal) 
// .ant-menu-submenu-title:active {
//   background-color: var(--primary-hover) !important;
// }
.uppercase {
  text-transform: uppercase;
}
// :where(.css-dev-only-do-not-override-185kyl0).ant-input-search .ant-input:hover, :where(.css-dev-only-do-not-override-185kyl0).ant-input-search .ant-input:focus {
//   border-color: var(--color-3)!important;
// }

$color-primary: #BA0F0F;
$color-title: #2D3748;
$color-text: #4A5568;
$color-background: #F7F7FA;

.c-primary {
  color: #cd1616;
}
.details-modal {
  display: grid;
  grid-template-columns: .6fr 1fr;
  grid-gap: .2rem .5rem;
  b {
    font-weight: 500;
    font-size: 13px;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.ff {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

// styles
.btn-produce {
  background-color: var(--primary);
  border-color: var(--primary);
  cursor: pointer;
}
.title-produce {
  // color: var(--secondary);
}
:where(.css-dev-only-do-not-override-ju8ixa).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: 500;
}


.radio-produce{
  .ant-radio-inner {
    // border-color: #BA0F0F !important;
    // background-color: #BA0F0F !important;
  }
} 
.search-produce {
  // .ant-btn-primary {
  //   background-color: var(--primary);
  //   &:hover, &:active {
  //     background-color: #cd1616 !important;
  //   }
  // }
}
// :where(.css-dev-only-do-not-override-1qb1s0s).ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
//   background-color: var(--primary);
//   border-color: var(--primary);
// }
// :where(.css-dev-only-do-not-override-1qb1s0s).ant-steps .ant-steps-item-process .ant-steps-item-icon {
//   background-color: var(--primary) !important;
//   border-color: var(--primary) !important;
// }
// :where(.css-dev-only-do-not-override-1qb1s0s).ant-btn-primary {
//   box-shadow: none !important;
// }
// :where(.css-dev-only-do-not-override-1qb1s0s).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
//   color: var(--primary);
//   font-weight: 600;
// }
// :where(.css-dev-only-do-not-override-1qb1s0s).ant-progress .ant-progress-steps-item-active {
//   background-color: #52c41a;
// }
// :where(.css-dev-only-do-not-override-1qb1s0s).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
//   background-color: #f44336 !important;
// }
// :where(.css-1qb1s0s).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
//   background-color: #d9363e !important;
// }
// :where(.css-dev-only-do-not-override-1qb1s0s).ant-checkbox-checked .ant-checkbox-inner {
//   background-color: #d9363e !important;
//   border-color: #d9363e !important;
// }
// :where(.css-1qb1s0s).ant-btn-primary {
//   box-shadow: none !important;
// }
// :where(.css-1qb1s0s).ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
//   border-color: var(--primary);
//   background-color: var(--primary);
// }
// :where(.css-dev-only-do-not-override-1qb1s0s).ant-checkbox-indeterminate .ant-checkbox-inner:after {
//   background-color: #d9363e !important;
// }
.ant-drawer-content-wrapper {
  @media screen and (max-width: 600px) {
    width: 100% !important;
    // width: 600px !important;
  }
}
.quill-editor {
  .ql-editor {
    height: 100px;
  }
}

.filters-produce {
  display: flex;
  align-items: end;
  gap: .5rem;
  div {
    width: 200px;
  }
  label {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
  }
  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}
.filters-center-produce {
  display: flex;
  align-items: center;
}

.ant-table-body::-webkit-scrollbar {
  width: 10px; 
  height: 12px; 
}
.ant-table-body::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 0px; 
}
.ant-table-body::-webkit-scrollbar-track {
  background: #e1e1e1; 
  border-radius: 0px; 
}
.btn-excel {
  background-color: #209e62;
  border-color: #249157 !important;
  &:hover {
    background-color: #0f7840 !important;
  }
}